RewriteEngine On
RewriteRule ^([A-Za-z0-9][A-Za-z0-9]?[A-Za-z0-9]?[A-Za-z0-9]?[A-Za-z0-9]?[A-Za-z0-9]?[A-Za-z0-9]?)$     'index.php?redirect=$1'
RewriteRule ^preview(-([A-Za-z0-9][A-Za-z0-9]?[A-Za-z0-9]?[A-Za-z0-9]?[A-Za-z0-9]?[A-Za-z0-9]?[A-Za-z0-9]?))$ 'index.php?preview=$2'
RewriteRule ^api(/(.+?))$                   'api.php?url=$2'        [L]
